<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="wrap cf">
        <h1 class="projTitle"><span>shipshop</span> Shopping Cart</h1>
        <div class="heading cf">
            <h1>My Cart</h1>
            <a href="#" class="continue">Continue Shopping</a>
        </div>
        <div class="cart">

            <% if (products.length > 0 ) { %>
            <ul class="cartWrap">
                <% products.forEach((cp) => { %>
                <li class="items odd">

                    <div class="infoWrap">
                        <div class="cartSection">
                            <img src="<%=cp.imageUrl %>" alt="" class="itemImg" />
                            <p class="itemNumber"><%= cp.id %></p>
                            <h3><%= cp.title %></h3>

                            <p> <input type="text" class="qty" placeholder="<%= cp.quantity %>" /> x $
                                <%= cp.price %></p>

                            <p class="stockStatus">In Stock</p>
                        </div>


                        <div class="prodTotal cartSection">
                            <p>$ <%= cp.price * cp.quantity %></p>
                        </div>
                        <div class="cartSection removeWrap">
                            <form action="/shop/cart-delete-item/<%= cp._id %>" method="post">
                                <input type="submit" class="remove" value="x">
                            </form>

                        </div>
                    </div>
                </li>
                <% }) %>
            </ul>
            <% } %>
        </div>

        <div class="promoCode"><label for="promo">Have A Promo Code?</label><input type="text" name="promo"
                placholder="Enter Code" />
            <a href="#" class="btn"></a></div>

        <div class="subtotal cf">
            <ul>
                <li class="totalRow"><span class="label">Subtotal</span><span class="value">$ <%= totalPrice %></span>
                </li>
                <li class="totalRow"><span class="label">Shipping</span><span class="value">$0.00</span></li>
                <li class="totalRow"><span class="label">Tax</span><span class="value">$0.00</span></li>
                <li class="totalRow final"><span class="label">Total</span><span class="value">$
                        <%= totalPrice %></span></li>
                <li class="totalRow">
                    <form action="/order/create-order/" method="post">
                        <button class="checkoutBtn btn continue" type="submit">Checkout</button>                    
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <%- include('../includes/end.ejs') %>